//Color Variables
$primary-color: rgb(8, 38, 48);
$primary-bg-color: #ddd;
$maroon: #903749; //Maroon
$red: #E83b24; //Red
$plum: #53354A; //Plum
$light-grey: #ddd;

$navBgColor: rgb(8, 38, 48);
$linkColor: rgba(255, 255, 255, 0.7);

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;


$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop
